.header-mock {
  height: 80px;
}

.movie-precontainer {
  display: flex;
  padding: 0 24px;
  justify-content: center;
}

.movie-container {
  width: 58%;
  padding: 12px;
  color: rgba(255, 255, 255, 0.9);

  @media screen and (min-width: 1920px) {
    width: 42%;
  }

  @media screen and (min-width: 1440px) and (max-width: 1919px) {
    width: 50%;
  }

  @media screen and (min-width: 960px) and (max-width: 1439) {
    width: 58%;
  }
}

.movie-title {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  margin-top: 24px;
  line-height: 1.25;
}

.movie-meta-info {
  margin: 0;
  margin-right: 16px;
  margin-bottom: 1rem;
  font-size: 20px;
  font-weight: 700;
}

.movie-description {
  margin-top: 24px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  padding: 20px;
  border-color: rgba(255, 255, 255, 0);
  border-style: solid;
  border-width: 1px;

  &__part-title {
    font-size: 12px;
    font-weight: 600;
    line-height: 1.5;
  }

  &__part {
    margin-bottom: 16px;
    margin-top: 8px;
  }
}

.blur-theme {
  backdrop-filter: blur(200px);
  background: linear-gradient(rgb(22, 22, 22) 5.15%, rgba(22, 22, 22, 0) 100%);
}

.pre-movie-poster {
  width: 42%;
  position: relative;
  margin-top: -187px;
  padding: 12px;

  @media screen and (min-width: 1920px) {
    width: 25%;
  }

  @media screen and (min-width: 1440px) and (max-width: 1919px) {
    width: 33%;
  }

  @media screen and (min-width: 960px) and (max-width: 1439) {
    width: 42%;
  }
}

.movie-poster {
  top: 0;
  z-index: 35;
  position: sticky;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  border-color: rgba(255, 255, 255, 0);
  border-style: solid;
  border-width: 1px;
}

.movie-img {
  opacity: 1;
  position: relative;
  z-index: 2;
  top: 0;
  width: 100%;
  height: auto;
  display: block;
  border: 0px;
  border-radius: 8px;
  transition: all 250ms ease-in-out 0s;
}

.btn-container {
  top: 80px;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 30;
  position: sticky;
  background-color: transparent;
  background: rgba(15,15,15, 0.8);
  box-shadow: 0 8px 16px 10px rgba(0, 0, 0, .5), 0 0 2px 0 rgba(0, 0, 0, .6);
  backdrop-filter: blur(1px);

  @media screen and (min-width: 1280px) {
    top: 0px !important;
  }
}

.btn-position {
  width: 58%;
  min-height: 45px;
  display: flex;
  position: relative;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding: 12px;
}

.btn-line {
  width: 100%;
  margin: 0;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}

.red-btn {
  color: rgb(255, 255, 255);
  border-color: transparent;
  background-color: rgb(229, 9, 20);
  right: 50%;
  transform: translate(50%, 50%);
  white-space: pre;
  position: absolute;
  padding: 8px 12px;
  font-size: 13px;
  min-height: 40px;
  font-weight: 600;
  letter-spacing: normal;
}

.movie-tags {
  display: flex;
  padding-top: 16px;
  margin-bottom: 8px;
  color: rgb(255, 255, 255);
  background-color: transparent;
  height: 22px;
  font-size: 13px;
  font-weight: 600;
  line-height: 1.5;
  align-items: center;

  &__tag {
    margin-right: 8px;
    margin-bottom: 8px;
    border-color: rgb(229, 9, 20);
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;

    &-wrapper {
      padding: 8px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
