.login-background {
  position: absolute;
  z-index: -1;
  min-height: 100%;
  overflow: hidden;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
}

.login-background__image {
  position: relative;
  min-height: 100%;
  min-width: 100%;
}

.login-background__shadow {
  background-color: #000;
  position: absolute;
  width: 100vmax;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
}
