.inform-main {
  color: #fff;
  background: #181818;
}

.inform-container {
  margin: 0 auto;
  padding: 0 48px;
  max-width: 1500px;

  &__title {
    padding: 20px;
    font-size: 30px;
  }

  &__content {
    font-size: 20px;
  }
}

.inform-container p,
.inform-container h3 {
  padding: 20px;
}

.faq-content {
  max-width: 70%;
}

.inform-image {
  width: 60%;
  padding: 20px;
  margin: auto;
}
