.facebook-form__button {
  background: 0 0;
  box-shadow: none;
  border: none;
  padding: 0;
  margin-top: 16px;
}

.facebook-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.facebook-title {
  color: #737373;
  font-size: 13px;
  font-weight: 500;
}

.user-signup-now {
  color: #737373;
  font-size: 16px;
  font-weight: 500;
  margin-top: 16px;
}

.user-signup-now__link {
  color: #fff;
  text-decoration: none;
}

.user-signup-now__link:hover {
  text-decoration: underline;
}

.user-recaptcha__wrapper {
  margin-top: 11px;
  font-size: 13px;
  color: #8c8c8c;
}

.user-recaptcha__link_button {
  background-color: transparent;
  border: none;
  color: #0071eb;
  cursor: pointer;
  display: inline;
  font-size: 13px;
  padding: 0;
}

.user-recaptcha__link_button:hover {
  text-decoration: underline;
}

.user-recaptcha__description_wrapper {
  margin-top: 11px;
}

.user-recaptcha__description {
  font-size: 13px;
  color: #8c8c8c;
}

.user-recaptcha__terms,
.user-recaptcha__privacy {
  color: #0080ff;
  text-decoration: none;
}

.user-recaptcha__terms:hover,
.user-recaptcha__privacy:hover {
  text-decoration: underline;
}
