.page404-header,
.login-header {
  line-height: 68px;
  z-index: 1;
}

.landing-header {
  margin-right: auto;
}

.logo-link {
  margin-left: 3%;
}

.logo-svg {
  height: 45px;
  width: 167px;
  vertical-align: middle;
  fill: #e50914;
}
