.header-wrapper {
  background-color: transparent;
  transition: background-color .5s;
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding-top: 20px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 5rem;
  z-index: 10;
}

.header-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  padding-top: 0.5rem;
  height: auto;
  margin: 0 3.5rem;
  max-width: 1920px;
}

.header-svg-icon {
  margin-right: auto;
}

.header-logo {
  fill: #e50914;
  line-height: normal;
}

.svg-icon-netflix-logo {
  width: 10.4375rem;
  height: 2.8125rem;
}

.header-container .lang-selection-container {
  display: inline-block;
  margin: 0 0.75rem;
  margin-right: 2rem;
}

.header-container .authButton {
  float: none;
  margin-top: 0;
  white-space: nowrap;
}

.lang-selection-container .select-arrow::before,
.lang-selection-container .select-arrow::after {
  color: #fff;
  transform: translateY(-50%);
  top: 50%;
}

.lang-selection-container .select-arrow::before {
  font-size: .75rem;
  left: 0.5rem;
  content: '';
}
.lang-selection-container .select-arrow::after {
  right: 10px;
  font-size: 6px;
  content: '';
  position: absolute;
  pointer-events: none;
}

.lang-selection-wrapper .select-arrow {
  position: relative;
  display: inline-block;
  width: 100%;
}

.select-arrow .select-value {
  padding-left: 1.375rem;
  padding-right: 1.375rem;
  padding: 0.5rem 1.375rem;
  line-height: 1.3em;
  white-space: nowrap;
  background: rgba(0,0,0,.4);
  border: 1px solid #aaa;
  color: #fff;
  font-size: .875rem;
}

.authButton {
  background-color: #e50914;
  line-height: normal;
  padding: 7px 17px;
  font-weight: 400;
  font-size: 1rem;
  float: right;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  text-indent: 0;
}

@media screen and (max-width: 950px) {
  .svg-icon-netflix-logo {
    width: 6.75rem;
    height: 2rem;
  }

  .header-container .lang-selection-container {
    margin-right: 1.5rem;
  }
}

@media screen and (min-width: 951px) and (max-width: 1280px) {
  .svg-icon-netflix-logo {
    width: 8.375rem;
    height: 2.25rem;
  }

}