footer {
  background-color: #000;
}

.footer-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 70px 45px 0px 45px;
}

.footer-links-container {
  min-width: 190px;
  width: 100%;
  font-size: 16px;
  color: #757575;
}

.footer-title {
  text-decoration: none;
  color: #757575;
}

.footer-title:hover {
  text-decoration: underline;
}

.footer-title span {
  display: block;
  margin-bottom: 30px;
}

.link-list {
  max-width: 1000px;
}

.footer-link-item {
  margin-bottom: 16px;
  display: inline-block;
  box-sizing: border-box;
  min-width: 100px;
  width: 25%;
  padding-right: 12px;
}

.footer-link {
  font-size: 13px;
  text-decoration: none;
  color: #757575;
}

.footer-link:hover {
  text-decoration: underline;
}

.lang-selector {
  width: 143px;
  height: 53px;
  margin-top: 20px;
}

.footer-country {
  font-size: 13px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.developers-links {
  width: 90%;
  margin: 0 auto;
  color: #757575;
  display: flex;
  justify-content: space-between;
  padding-bottom: 13px;
}

.dev-link {
  color: #757575;
  font-size: 13px;
  text-decoration: none;
}

.dev-link:hover {
  text-decoration: underline;
}
