.p404-main {
  background-image: url('https://assets.nflxext.com/ffe/siteui/pages/errors/bg-lost-in-space.png');
  background-size: cover;
  background-position: center;
  color: #fff;
  font-size: 0.75vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: calc(100vh - 68px);
  width: 100vw;
}

.message-precontainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto auto 0 auto;
  min-height: 50vh;
  width: 50vw;
  align-items: center;
}

.p404-message {
  display: flex;
  font-size: 6em;
  justify-content: space-around;
  margin-bottom: 2vw;
}

.p404-message2 {
  font-size: 2.2em;
  font-weight: 300;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.57);
  margin: 0 0 1em;
}

.btn-to-home {
  position: relative;
  background-color: #fff;
  color: #000;
  font-size: 1.45em;
  align-items: center;
  appearance: none;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  opacity: 1;
  padding: 0.8rem 2.4rem;
  margin: 0 auto;
  user-select: none;
  will-change: background-color, color;
  word-break: break-word;
  white-space: nowrap;
}

body,
.root {
  background-color: rgba(0, 0, 0, 0.97);
}

.p404-error-code {
  position: relative;
  bottom: 0;
  border-left: 2px solid #e50914;
  font-size: 2.4em;
  font-weight: 100;
  letter-spacing: 0.1em;
  line-height: 2.2em;
  padding: 0 1vw;
}

.img-source {
  position: relative;
  display: flex;
  height: 20vh;
  align-items: flex-end;
  justify-content: flex-end;
  color: rgba(229, 229, 229, 0.57);
  font-size: 1.4em;
  font-weight: 100;
  letter-spacing: 0.1em;
  line-height: 1.5vw;
  margin-right: 4.8vw;
  margin-bottom: 2.5vw;
  right: 0;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.57);
}

.main-info {
  font-weight: 700;
}

.page404-header {
  line-height: 68px;
  z-index: 1;
}

.logo-link {
  margin-left: 3%;
}

.logo-svg {
  height: 25px;
  width: 93px;
  vertical-align: middle;
  fill: #e50914;
}
